<ion-content class="ion-padding flex justify-between items-center bg-white">
  <ion-row class="flex justify-center items-start h-full">
    <div class="w-full p-5">
      <ion-col size="12" size-md="6" class="w-full flex flex-col items-center">
        <ion-img class="w-auto" src="assets/images/statistics.svg"></ion-img>
        <ion-label class="ion-text-center text-3xl font-semibold" color="primary">Sign In</ion-label>
        <p class="ion-text-center text-sm py-3 text-gray-400">Enter valid user name and password to continue</p>
      </ion-col>
      <ion-col size="12" size-md="6" class="w-full flex flex-col justify-between items-center">
        <form class="w-full">
          <div class="relative mb-4">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
              <ion-icon name="person-outline" slot="start" class="text-gray-400 text-lg"></ion-icon>
            </div>
            <input type="email" id="input-group-1"
              class="bg-white border border-gray-300 text-gray-400 text-lg rounded-2xl block w-full pl-12 p-4"
              placeholder="username">
          </div>
          <div class="relative mb-2">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
              <ion-icon name="lock-closed-outline" slot="start" class="text-gray-400 text-2xl"></ion-icon>
            </div>
            <input type="password" id="input-group-1"
              class="bg-white border border-gray-300 text-gray-400 text-lg rounded-2xl block w-full pl-12 p-4"
              placeholder="Password">
            <div class="absolute inset-y-0 right-0 flex items-center pr-3.5 pointer-events-none">
              <ion-icon name="eye-off-outline" slot="start" class="text-gray-400 text-2xl"></ion-icon>
            </div>
          </div>
          <div class="relative mb-6">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
              <ion-icon name="location-outline" slot="start" class="text-gray-400 text-lg"></ion-icon>
            </div>
            <input type="text" id="input-group-1"
              class="bg-white border border-gray-300 text-gray-400 text-lg rounded-2xl block w-full pl-12 p-4"
              placeholder="Colombia" autocomplete="country-name">
          </div>
          <ion-item *ngIf="false">
            <ion-list style="width: 100%; max-height: 200px; overflow-y: scroll;">
              <ion-item>
                <ion-label>Colombia</ion-label>
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-button class="!text-white" expand="block">Sign In</ion-button>
        </form>
      </ion-col>
    </div>
    <ion-row class="ion-text-center mb-4">
      <ion-col>
        <p>Haven't any account? <a routerLink="/sign-up">Sign Up</a></p>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>