<ion-content class="ion-padding">
  <div class="w-full flex justify-end mt-4 relative">
    <ion-searchbar placeholder="Colombia" lass="px-0 mr-6" mode="ios"
      (ionChange)="onSearchbarChange($event)"></ion-searchbar>
    <ion-buttons id="click-trigger">
      <ion-avatar class="w-12 h-12 bg-orange-300 overflow-hidden">
        <img class="rounded-md" alt="Silhouette of a person's head" [src]="user.profile" />
      </ion-avatar>
    </ion-buttons>

    <ion-popover trigger="click-trigger" triggerAction="click" mode="ios">
      <ng-template>
        <ion-content class="ion-padding">
          <span class="text-center font-semibold">¿Que quieres hacer {{user.username}}?</span>
          <ion-button class="flex items-center" fill="outline" color="danger" expand="block" (click)="signOut()">
            <ion-icon class="text-lg" name="log-out-outline"></ion-icon>
            Cerrar Sesion
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  <div class="ml-1">
    <h2 class="ion-text-left font-semibold text-3xl m-0">Notes</h2>
    <span class="text-sm text-gray-400">recently added</span>
  </div>
  <ion-row *ngIf="(notes$ | async) as notes">
    <ion-col size="6" *ngFor="let note of notes | filterByCountry: paisFiltrado">
      <div [ngClass]="getColorClass(note.color)" class="rounded-xl p-4 relative border border-gray-400 cursor-pointer"
        (click)="navigateToNoteDetail(note.id)">
        <div class="absolute right-2 top-1 text-xs">
          <span class="text-gray-600">{{note.country}}</span>
        </div>
        <div class="flex justify-between items-center">
          <h3 class="m-0 font-semibold text-xl">{{note.titulo}}</h3>
        </div>
        <p class="text-xs">{{note.description}}</p>
        <ion-button (click)="deleteNote($event, note.id)" class="mt-3 button-custom" size="small" fill="outline"
          color="dark">Delete Note</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="shadow-2xl">
    <ion-fab-button (click)="createNote()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>